//imports
@import 'reset';



//animations
@keyframes fadeIn {
    0% {opacity: .5;}
    100% {opacity: 1;}
}

@mixin transitionfix() {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0)
}

//Variables
$h1: 72px;
$turquoise: #6db3a3;

//Extends
.fade-in{
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

//Start Styling
body {
    letter-spacing: 1px;

    .btn-primary:hover {
        background: $turquoise;
        color: white;
    }

    .btn-primary {
        border-radius: 50px;
        background-color: black;
        padding:5px 20px;
        color: white;
        border: none;
        font-size: 20px;
    }

    .btn-lrg {
        @extend .btn-primary;
        font-size: 1.5em;
        letter-spacing: 4px;
        margin-bottom: 40px;
        padding:5px 20px;

    }

    a:not([href]):not([tabindex]) {
        color: white;

        &:hover {
            color: white;
        }
    }
    
}


nav {
    height:150px;
    background: black;
    .logo {
        display:block;
        float: left;
        color: white;
        padding-top: 15px; 

        img {
            width: 150px;
        }
  
    } 

    .menu {
        ul{
        display: block;
        font-size: 24px;
        color: white;
        list-style: none;
        float: right;
        padding-top: 65px; 
        }  
    }
}
hr {
        border-top: 10px double #000;
}

#hero {


    .jumbotron {
        background: url('../img/cordinate-hero.jpg') no-repeat right center;
        background-size: cover;
        min-height: 493px;

            

        h1 {
            font-size: $h1;
            line-height: 1;
        }
        .lead {
            margin: 0;
            padding: 0;
            font-size: 35px;
        }



    ul {
        padding: 0;
        margin-left: -10px;
        margin: 0;
        li {
            display: inline-block;
            padding-left: 10px;
            color: rgb(124, 124, 124);
            font-size: 20px;
            &.first {
                padding-left: 0
                }
            }
        }

        .btn {
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
    
}

#colors {
    text-align: center;
    position: relative;

        ul{
            text-align: center;
            list-style: none;
            vertical-align: middle;
            padding-top: 50px;

            li {
                display: inline-block;
                padding-right: 20px;

            }

        }

        .image-box{
            border-radius: 250px;
            border: #000 4px solid;
            overflow: hidden;
            max-width: 450px;
            position:relative;
            left: 18%;
            @include transitionfix();

            .fade-in{
                -webkit-animation: fadeIn .25s ease-in;
                animation: fadeIn .25s ease-in;
                overflow: hidden;
                
            }
 
            
        
        }

        @media screen and (max-width:1000px) {
            .image-box {
                left: 0%;
            }

        }
    

    

        .btn-primary {
            margin-top: 20px;
            margin-bottom:40px;
        }

    .color {
        .hover{
                display: inline-block;
                min-width:15vh ;
                height: 15vh;
                border-radius: 80px;
                cursor: pointer;

                &.one {
                    background: url('../img/eggshell-white.png');

                }

                &.two {
                    background: url('../img/mocha.png');
                }

                &.three {
                    background: url('../img/heather-grey.png');
                }
                &.four {
                    background: url('../img/champagne.png');

                }
                &.five {
                    background: url('../img/black.png');
                }
        }

        .color-name {
            visibility: hidden;

        }
        
        &.one:hover {
            .color-name {
                visibility: visible;
                @extend .fade-in ;
             }
        }

        &.two:hover {
            .color-name {
                visibility: visible;
                @extend .fade-in ;
             }
        }

        &.three:hover {
            .color-name {
                visibility: visible;
                @extend .fade-in ;
             }
        }

        &.four:hover {
            .color-name {
                visibility: visible;
                @extend .fade-in ;
             }
        }

        &.five:hover {
            .color-name {
                visibility: visible;
                @extend .fade-in ;
             }
        }
    

    }



}


 


#lineup {
    text-align: center;

    .jumbotron {
        margin-bottom:0;
        background: url('../img/cordinate-lineup.jpg');
        background-size: cover;
        min-height:335px;
    }

        .bottom{
        background-color: black;
        padding: 10px 0;
        position: relative;
        bottom: 20%;
        color: white;
        font-size:30px;

        p{
            margin: 0;
            padding: 0;
        }
        }
    }


#conclusion {
    text-align: center;
    p{
        padding: 40px 0;

    }
}

footer {
    text-align: center;

    .fa {
        font-size: 40px;
        padding-left: 20px;
        color: black;
        padding-top: 20px;
        padding-bottom: 20px;

        &:hover {
            color:$turquoise;
        }
    }
}

@media(max-width:1000px) {

    #hero{ 
     .jumbotron {
         background: white;
     }
 }
}